#Assignment : Python - Data Structure

1. What are data structures, and why are they important?

Data structures are logical ways to organize and store data so it can be used efficiently. Examples include lists, tuples, dictionaries, and sets. They help in accessing, processing, and managing data easily. Choosing the right data structure improves the speed and memory usage of a program. Without them, handling large or complex data would be inefficient and error-prone.

2. Explain the difference between mutable and immutable data types with examples.

Mutable types allow changes after creation (like adding or removing items), e.g., lists and dictionaries. Immutable types cannot be changed once defined, e.g., strings and tuples. This affects how data behaves when passed to functions or reused. Mutability is important when deciding how safe or flexible data should be.

3. What are the main differences between lists and tuples in Python?

Lists are mutable, meaning you can change, add, or remove elements. Tuples are immutable, meaning once created, their content cannot be altered. Lists are commonly used for dynamic data, while tuples are used when data should remain constant. Tuples are slightly faster and use less memory compared to lists.

4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs. Each key is unique and maps directly to a value. Internally, Python uses a hash table for fast access, which means looking up a value by key is very efficient. This structure is ideal for storing related information, such as a person's name and age.

5. Why might you use a set instead of a list in Python?

Sets are used when you need to store only unique values. They automatically remove duplicates and are faster for checking whether an item exists. Unlike lists, sets do not maintain order, which makes them better for tasks involving comparisons, unions, intersections, and uniqueness checks.

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters. A list is a mutable collection that can hold items of any data type, including characters. You cannot change a string once it's created, but you can change elements in a list. Also, lists can hold mixed data types; strings cannot.

7. How do tuples ensure data integrity in Python?

Tuples are immutable, so their values cannot be changed after creation. This protects the data from accidental modification, which is helpful when you want to ensure that a fixed set of values stays constant. Tuples are often used for read-only or sensitive data that should not change.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that uses a hash function to map keys to positions in memory. Python dictionaries use hash tables to store and retrieve key-value pairs quickly. This makes data lookup in dictionaries very fast on average, even with large amounts of data.

9. Can lists contain different data types in Python?

Yes, Python lists can hold elements of different data types, such as integers, strings, booleans, and even other lists or objects. This flexibility makes lists very powerful for handling mixed or complex data in a single structure.

10. Explain why strings are immutable in Python.

Strings are immutable for performance and security reasons. Immutability allows strings to be reused and shared efficiently, reducing memory usage. It also prevents accidental changes, which helps in debugging and writing safer code, especially when strings are passed between functions.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries allow data to be stored using descriptive keys, making it easier to understand and access. They provide faster lookups when you know the key, unlike lists where you must search through values. For example, retrieving a user’s profile by name is much easier with a dictionary.

12. How do sets handle duplicate values in Python?

Sets automatically remove duplicate values. If you try to add the same value multiple times, it only appears once. This makes sets useful for filtering unique data and performing mathematical operations like union and intersection.

13. Describe a scenario where using a tuple would be preferable over a list.

Tuples are preferable when you want to store data that should not change, such as geographic coordinates (latitude, longitude) or fixed settings. Their immutability ensures that the data remains secure and unchanged throughout the program.

14. How does the “in” keyword work differently for lists and dictionaries?

In a list, the in keyword checks if a value exists in the list. In a dictionary, it checks if a key exists, not the value. This difference is important when writing conditional logic or checking data presence.

15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify elements of a tuple because they are immutable. Once a tuple is created, its content is fixed. This helps in maintaining data consistency and prevents accidental updates.

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary where values can be other dictionaries. It is useful for representing hierarchical data such as user profiles with multiple attributes or storing structured configuration files.

17. Describe the time complexity of accessing elements in a dictionary.

Accessing an element in a dictionary has an average time complexity of O(1), meaning it takes constant time regardless of the size of the dictionary. This makes dictionaries highly efficient for lookups.

18. In what situations are lists preferred over dictionaries?

Lists are preferred when the order of elements matters, or when you just need to store items in sequence without associating them with keys. They're also better when you need to iterate through items based on their position.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Historically, dictionaries were unordered, meaning the order of key-value pairs was not guaranteed. Since Python 3.7, insertion order is preserved, but logically, dictionaries are still treated as unordered because access is based on keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

In a list, data is retrieved by index, which represents position. In a dictionary, data is retrieved using keys, which allows more meaningful and faster access, especially when dealing with labeled or structured data.

#Practical Questions

In [31]:
# 1. Write a code to Create a string with your name and print it
name = "Bhupendra Kumar"
print(name)

Bhupendra Kumar

In [32]:
# 2. Write a code to Find the length of the string "Hello World"
length = len("Hello World")
print(length)

11

In [33]:
# 3. Write a code to Slice the first 3 characters from "Python Programming"
sliced = "Python Programming"[:3]
print(sliced)

Pyt

In [34]:
# 4. Write a code to Convert "hello" to uppercase
upper_str = "hello".upper()
print(upper_str)

HELLO

In [35]:
# 5. Write a code to Replace "apple" with "orange" in "I like apple"
replaced = "I like apple".replace("apple", "orange")
print(replaced)

I like orange

In [36]:
# 6. Write a code to Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [37]:
# 7.  Write a code toAppend the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [38]:
# 8. Write a code to Remove the number 3 from the list [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [39]:

# 9. Write a code to Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [40]:
# 10. Write a code to Reverse the list [10, 20, 30, 40, 50]
reversed_list = [10, 20, 30, 40, 50][::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [41]:
# 11. Write a code to Create a tuple with elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [42]:
# 12. Write a code to Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [43]:

# 13. Write a code to Find the minimum number in the tuple (10, 20, 5, 15)
print(min((10, 20, 5, 15)))

5

In [44]:
# 14. Write a code to Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [45]:
# 15. Write a code to Create a tuple with fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [46]:
# 16. Write a code to Create a set with elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [47]:
# 17. Write a code to Clear all elements from the set {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [48]:
# 18. Write a code to Remove the element 4 from the set {1, 2, 3, 4}
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [49]:
# 19.  Write a code to Find the union of sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [50]:
# 20. Write a code to Find the intersection of sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [51]:
# 21. Write a code to Create a dictionary with keys "name", "age", and "city" and print it
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [52]:

# 22. Write a code to Add "country": "USA" to {'name': 'John', 'age': 25}
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [53]:

# 23. Write a code to Access the value of "name" in {'name': 'Alice', 'age': 30}
person3 = {'name': 'Alice', 'age': 30}
print(person3["name"])

Alice

In [54]:
# 24. Write a code to Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person4["age"]
print(person4)

{'name': 'Bob', 'city': 'New York'}

In [55]:

# 25. Write a code to Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}
print("city" in {'name': 'Alice', 'city': 'Paris'})

True

In [56]:
# 26. Write a code to Create a list, a tuple, and a dictionary, and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [57]:

# 27. Write a code to Create a list of 5 random numbers between 1 and 100, sort it, and print
import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[36, 65, 66, 95, 100]

In [58]:
# 28. Write a code to Create a list with strings and print the element at the third index
str_list = ["one", "two", "three", "four", "five"]
print(str_list[3])

four

In [59]:
# 29. Write a code to Combine two dictionaries and print the result
dict1 = {"x": 1, "y": 2}
dict2 = {"z": 3}
combined = {**dict1, **dict2}
print(combined)

{'x': 1, 'y': 2, 'z': 3}

In [60]:
# 30. Write a code to Convert a list of strings into a set
strs = ["apple", "banana", "apple", "mango"]
unique_strs = set(strs)
print(unique_strs)

{'banana', 'apple', 'mango'}